extends layout

block content
    <ol class="breadcrumb">
        <li>Main Navigation</li>
        <li>Digital Passport Event</li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-colonies">
                    <div class="panel-body">
                        <input type="hidden" id="marlboro_csrf" name="#{csrf_token_name}" value="#{csrf_token}" />
                        <div class="table-responsive">
                            <table id="datatable_content" class="table table-striped table-hover datatable_act" data-view="/cms/dp_event/detail/" form-url="/cms/dp_event/new">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/js/views/dp_event.js"></script>
